<html>
<head>
	<meta charset="UTF-8">
	<meta content="提供图书、电影、活动、已经丰富的城市生活" name="description">
	<title>生活网</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<!--导航条start-->
	<div id="land_nav" class="land_nav">
	</div>
	<!--导航条end-->
	<!--最新资讯start-->
	<div id="land_news" class="land_news">
	</div>
	<!--最新资讯end-->
	<!--同城消息start-->
	<div id="land_sns" class="land_sns">
	</div>
	<!--同城消息end-->
	<!--电影start-->
	<div id="land_movie" class="land_movie">
	</div>
	<!--电影end-->
	<!--图书start-->
	<div id="land_movie" class="land_movie">
	</div>
	<!--图书end-->
	<!--东西start-->
	<div id="land_movie" class="land_movie">
	</div>
	<!--东西end-->
</body>
</html>